* {
    padding: 0;
    margin: 0;
    font-family: cursive;

}

.hero {
    background: #eff4fd;
    width: 100%;
    height: 100vh;
}

#div1 {
    /* border: 2px black solid; */
    height: 43%;
    ;
    width: 80%;
    margin-left: 19%;
    position: absolute;
    margin-top: 5%;
    ;
}

#div1 img {
    border-radius: 20%;
    background-color: bisque;
    height: 100%;
}

#info {
    position: absolute;
    margin-left: 50px;
    /* border: 2px black solid; */
    display: inline-block;
    width: 70%;
    font-size: 30px;
}

p {
    color: grey;
}

#div2 {
    position: absolute;
    /* border: 2px black solid; */
    margin-top: 33%;
    margin-left: 19%;
    height: 30%;
    width: 80%;
}

#exp {
    width: 70%;
    position: absolute;
    /* border: 2px solid black; */
}

#buttons {
    position: absolute;
    /* border: 2px solid black; */
    margin-left: 70%;
    height: 80%;
    padding: 10px 20px;
}

button {
    margin-top: 8px;
    background-color: orange;
    border-radius: 10%;
}

button:hover {
    background-color: aquamarine;
}